.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

    &__title {
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 28px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.84px;
            color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            }
        }
    
    &__list {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            grid-gap: 30px;
        }
    
    &__item {
            display: flex;
            justify-content: center;
        }
    
    &__item:not(:last-child) {
            margin-bottom: 0px;
        }
    
    &__icon {
            align-items: center;
            width: 106px;
            height: 60px;
            fill: var(--border-box-client);
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            fill: var(--icon-color);
            width: 210px;
            height: 92px;
            border: 1px solid var(--border-box-client);
            border-radius: 4px;
    
            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            @media screen and (min-width: 1200px) {
                width: 170px;
            }
        }
    
    &__link:hover &__icon,
    &__link:focus &__icon {
            fill: var(--accent-color);
        }
    
    &__link:hover,
    &__link:focus {
            border: 1px solid var(--accent-color)
        }
}

