.contacts-list {
    padding-top: 21px;
    padding-left: 0;
    align-items: baseline;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-right: 0;
        padding-top: 32px;
        &__item + &__item {
            margin-left: 40px;
        }
    }

    &__item {
        align-items: center;

        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
            
            &:last-child {
                    margin-bottom: 0;
            }
        }
    }

    &__link:hover &__email,
    &__link:focus &__email {
        fill: var(--accent-color);
    }

    &__link:hover &__phone,
    &__link:focus &__phone {
        fill: var(--accent-color);
    }

    &__email {
        margin-right: 10px;
        fill: var(--secondary-text-color);

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__email:hover {
        fill: var(--accent-color);
    }

    &__phone {
        margin-right: 10px;
        fill: var(--secondary-text-color);

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__phone:hover {
        fill: var(--accent-color);
    }

    & &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        display: flex;
        align-items: center;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            color: var(--secondary-text-color);
            font-size: 12px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.24px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            letter-spacing: 0.28px;
        }
    }

    &__item &__link:hover,
    &__item &__link:focus {
        color: var(--accent-color);
    }

    &__email-style {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.24px;
    }

    &__phone-style {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.24px;
    }
}

@media screen and (max-width: 480px) {
    .contacts-list {
        display: none;
    }
}