.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    @media screen and (max-width: 479px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__set {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-text-color);
    
            display: none;
        }

    &__list {
            display: flex;
            flex-wrap: wrap;
            
            padding-left: 0;
            color: var(--primary-text-color);
        }
    
    &__item {
            margin-bottom: 30px;
            fill: var(--secondary-text-color);

            @media screen and (min-width: 480px) {
                width: 450px;
            }
            
            @media screen and (min-width: 768px) {
                width: 354px;
            }
            
            @media screen and (min-width: 1200px) {
                width: 270px;
            }
        }
    
    &__item:last-child {
            margin-bottom: 0px;
        }
    
    &__box {
            display: flex;
            height: 120px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;
    
            background-color: var(--background-color-user);

            @media screen and (min-width: 480px) {
                width: 450px;
            }
            
            @media screen and (min-width: 768px) {
                width: 354px;
            }
            
            @media screen and (min-width: 1200px) {
                width: 270px;
            }
        }
    
    &__title {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            color: var(--primary-text-color);
            text-align: center;

        }
    
    &__text {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.42px;
            color: var(--secondary-text-color);
        }
}