.footer-url {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    
    @media (min-width: 768px) {
            margin: 0;
            margin-right: 74px;
        }

    &__title {
            margin-top: 0;
            margin-bottom: 20px;
            padding-left: 0;
            
    
            color: var(--primary-white-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.42px;
        }
    
    &__list {
            display: flex;
            padding-left: 0;
            justify-content: center;
        }
    
    &__item {
            margin-right: 10px;
        }
    
    &__item:last-child {
            margin-right: 0;
        }
    
    &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
    
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__icon {
            width: 20px;
            height: 20px;
            fill: var(--primary-white-color);
        }
    
    &__link:hover,
    &__link:focus {
            background-color: var(--url-link-hover);
        }
}

