.icon-check {
    margin-right: 7px;

    border: 2px solid var(--primary-white-color);
    border-radius: 2px;

    transition-property: border-color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}