.modal-box {
    width: 450px;
    padding: 40px 40px;

    &__title {
            margin-top: 0;
            margin-bottom: 12px;

            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.6px;
            color: var(--primary-text-color);
        }
    
    &__form {
            margin-bottom: 10px;
        }
    
    &__label {
            display: block;
            margin-bottom: 4px;
    
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.12px;
            color: var(--secondary-text-color);
        }
    
    &__field {
            position: relative;
        }
    
    &__field:focus-within > &__icon {
            fill: var(--accent-color);
        }
    
    &__field:focus-within > &__input {
            border: 1px solid var(--accent-color);
            outline: 0;
        }
    
    &__input {
            display: inline-block;
            width: 370px;
            height: 40px;
    
            padding-left: 42px;
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.20);
    
            transition-property: border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__icon {
            position: absolute;
            top: 50%;
            left: 12px;
    
            transform: translateY(-50%);
    
            display: inline-block;
    
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__textarea {
            margin-bottom: 20px;
        }
    
    &__field:focus-within > &__feedback {
            outline: 0;
            border: 1px solid var(--accent-color);
            color: var(--accent-color);
        }
    
    &__feedback {
            width: 370px;
            height: 120px;
    
            padding: 12px 16px;
    
            color: rgba(117, 117, 117, 0.50);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.12px;
    
            resize: none;
    
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.20);
    
            transition-property: border, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

    &__accent {
            color: var(--accent-color);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: 0.36px;
            text-decoration-line: underline;
        }

    &__checkbox {
            appearance: none;
            width: 16px;
            height: 15px;
            margin-right: 7px;
            outline: 2px solid transparent;
            outline-offset: -2px;
            border: 2px solid var(--primary-text-color);
            border-radius: 2px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0;
            background-image: url(../images/icon-check.svg);
            transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    &__checkbox:checked {
            outline-color: var(--accent-color);
            background-color: var(--accent-color);
            background-size: 11px 8px;
            background-size: contain;
            border-color: transparent;
        }

    &__checkbox-label:focus-within > &__checkbox {
            border: 2px solid var(--accent-color);
            outline: 0;
        }

    &__checkbox-label {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.71;
            letter-spacing: 0.36px;
            color: var(--primary-text-color);
        }

    &__checkbox:checked + .icon-check {
            background-color: var(--accent-color);
            border-color: transparent;
        }

    &__checktext {
        color: #757575;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;

    }

    &__button {
            display: flex;
            align-items: center;
        
            width: 200px;
            height: 50px;
        
            padding: 10px 52px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        
            border-radius: 4px;
            background: var(--accent-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        
            color: var(--primary-white-color);
            text-align: center;
        
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.15;
            letter-spacing: 0.96px;
        }

    &__check-box {
            margin-bottom: 30px;
        }
        
    &__check-box a {
            color: var(--accent-color);
        }
        
    &__check-box label {
            display: flex;
            align-items: center;
            justify-content: center;
        
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--secondary-text-color);
        }
}