.page-header {
    height: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid var(--border-box-secondary);

    @media screen and (min-width: 768px) {
        height: 80px;
    }

}