.site-nav__button .icon-cross {
    display: none;
}

.site-nav__button.is-open .icon-cross {
    display: block;
}

.site-nav__button.is-open .icon-menu {
    display: none;
}

.site-nav__button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    @media (min-width: 768px) {
         display: none;
    }

    &:hover,
    &:focus {
    background-color: rgba(0, 0, 0, 0.1);}
}

.site-nav__menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
    z-index: 999;
    
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.site-nav__menu-container.is-open {
    transform: translateX(0);
}

.site-nav__menu-container .site-nav__button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--primary-white-color);
}

.site-nav__mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}