.subcribe-box {
    text-align: center;
   
    &__title {
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            color: var(--primary-white-color);
    
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
        }
    
    &__form {
            display: block;
            align-items: center;
        }
    
    &__input {
            width: 358px;
            height: 50px;
    
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
    
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(33, 150, 243, 0.00);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
            color: rgba(255, 255, 255, 0.60);
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1, 25;
            letter-spacing: 0.48px;
        }
    
    
    &__button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
    
            width: 200px;
            height: 50px;
            padding: 10px 28px;
    
            border-radius: 4px;
            background: var(--accent-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
            color: var(--primary-white-color);
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1, 88;
            letter-spacing: 0.96px;
        }
    
    &__icon {
            fill: var(--primary-white-color);
            margin-left: 10px;
        }
}

