.work {
    padding-top: 0;
    padding-bottom: 94px;
    display: none;

    &__title {
            margin-top: 0;
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--primary-text-color)
        }
    
        &__list {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
    
        &__item {
            margin-right: 30px;
        }
    
        &__item:last-child {
            margin-right: 0px;
        }
    
        &__thumb {
            position: relative;
        }
    
        &__description {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
    
            width: 100%;
            min-height: 70px;
            align-items: center;
            justify-content: center;
            background-color: rgba(47, 48, 58, 0.8);
        }
    
        &__text-description {
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.42px;
            text-transform: uppercase;
    
            color: var(--primary-white-color);
        }
}

