html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--body-font);
    font-style: normal;
    color: var(--primary-text-color);
    cursor: pointer
}

.flex-container {
    display: flex;
    align-items: baseline;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
    @media screen and (min-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
    width: 1200px;
    }
}

.container-padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.container-nav {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container-contacts {
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

button {
    border-radius: 4px;
    padding: 10px 24px;
    text-align: center;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    border: 1px solid transparent;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

footer {
    font-style: normal;
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}