:root { 
--primary-text-color:#212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
--background-color: #2F303A;
--background-color-user: #F5F4FA;
--border-box-primary: #EEEEEE;
--border-box-secondary: #ECECEC;
--border-box-client: #AFB1B8;
--url-link-hover: #2196F3;

--body-font: 'Roboto',
    sans-serif;
--logo-font: "Raleway",
    sans-serif;
}